/* Override Bootstrap css */

.csf-form-col
{
    padding-left: 0px;
    padding-right: 0px;
}
.csf-form-col-4
{
    padding-left: 4px;
    padding-right: 4px;
}

/* place footer at bottom of page */
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper
{
    min-height: 100%;
    position: relative;
}
.mainContent
{
    padding-bottom: 70px;
}
footer
{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
/* place footer at bottom of page */
#alertMsgBox 
{
    display: none;
    margin-left: 0px;
    margin-right: 0px;
}
.popover-content
{
    font-weight:normal;
    font-size: 14px;
}
.csf-popover
{
    margin-top: 7px;
}
.csf-popover > a
{
    margin: 5px;
}
.popover.left
{
    margin-left:-15px !important;
    width: 175px !important;
}
/* header */
/* top nav */
.navbar
{
    background-color: #f2f2f2;
}
.navbar-nav
{
    background-color: #ddd;
    padding-right: 0px;
    margin: 0px;
}
.navbar-header
{
    padding-right: 0px;
}
.navbar-collapse
{
    max-height: 425px;
    margin-top: -20px;
    position: absolute;
    z-index: 100;
}
.navitem
{
    min-width: 100%;
    position: relative;
    float: left;
    min-height: 1px;
}
@media only screen and (min-device-width : 768px)
{
    .navitem
    {
        min-width: 50%;
    }
}
.nav li div
{
    padding:0px 0px;
}
.nav li div a
{
    padding:10px 15px;
    display: block;
}
.navbar-nav li div a
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: .85em;
    border-left: 5px solid #1c75bb;
    border-bottom: 1px solid #fff;
    color: #000;
    width: 100%;
}
.navbar-nav li div a:hover .navbar-nav li div a:focus
{
    color: #000;
}
.navbar-nav li div.active a
{
    background-color: gray;
}
.logoHeader
{
    width: auto; /*100%;*/
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.csf-navbar-brand
{
    padding-top: 5px;
    padding-bottom: 0px;
}
.logoLogoutLink
{
    font-size: .8em;
    padding-left: 0px;
}
@media only screen and (min-device-width : 768px)
{
    .logoLogoutLink
    {
        font-size: 1em;
        padding-left: 0px;
    }
}
.loginNavbar
{
    background-color: #ffffff;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
}
.csf-navbar-brand-login
{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
}

@media only screen and (min-device-width : 768px)
{
    .csf-navbar-brand-login
    {
        min-height: 90px;
    }
}
.navbar-default .navbar-toggle .icon-bar
{
    height: 4px;
    background-color: #1c75bb;
}
.userNameHeader
{
    font-size: .9em;
    margin-top: -17px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    height: 0px;
}
@media only screen and (min-device-width : 768px)
{
    .userNameHeader
    {
        font-size: 1.2em;
    }
}
/* footer */
footer hr
{
    margin-bottom: 10px;
}
footer p
{
    margin-left: 20px;
}
footer, footer a, footer a:hover, footer a:focus
{
    color: #00a651;
}

.fixedOnScroll
{
    margin: 0px; 
    padding: 0px; 
    background-color: #fff;
}
.claimsWellTop
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.claimsWellBtm
{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -25px;
    margin-left: 0px;
    margin-right: 0px;
    border-top: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* text and bg csf colors */
.text-csfdarkblue
{
    color: #1c75bb;
}
.text-csfdarkgreen
{
    color: #00a651;
}
.bg-csfdarkgreen
{
    color: #fff;
    background-color: #00a651;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bg-csfdarkgreen a
{
    color: #fff;
}
.csfClaimsRow
{
    position: relative;
}
.csfdarkgreen-chevronGlyphicon
{
    position: absolute;
    top: 35%;
    left: 80%;   
}
@media only screen and (min-device-width : 768px)
{
    .csfdarkgreen-chevronGlyphicon
    {
        top: 5%;
        left: 90%;
    }
}
.bg-csflightgreen
{
    color: #fff;
    background-color: #99cc99;
}
.bg-csfdarkblue
{
    color: #1c75bb;
    background-color: #1c75bb;
}
.bg-csflightblue
{
    color: #fff;
    background-color: #78bfef;
}
.bg-csfgrey
{
    color: #000;
    background-color: #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bg-csfgrey a
{
    color: #000;
}
.csfFAQRow
{
    position: relative;
}
.csfFAQRowChevron
{
    position: absolute;
    top: 40%;
    width: 100%;
}
@media only screen and (min-device-width : 768px)
{
    .csfFAQRowChevron
    {
        top: 0%;
    }
}
/* panel header */
.panel-default > .bg-csfdarkgreen
{
    color: #fff;
    background-color: #00a651;
    border-color: #ddd;
}

/* Login Tabs */
.nav-tabs .col-xs-6
{
    padding-left: 0px;
    padding-right: 0px;
}
.nav-tabs li a
{
    background-color: #ddd;
    color: #555;
}
.nav-tabs li.active a
{
    background-color: #3276b1;
    color: #fff;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover
{
    border-color: #ddd;
    background-color: #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    border-color: #3276b1;
    background-color: #3276b1;
    color: #fff;
}
.nav-tabs li:nth-child(2) > a
{
    margin-right: 0px;
}
.well
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* login buttons */
.ds-btn
{
    padding-left: 0px;
    float: left;
}

div.ds-btn-container
{
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

div.ds-btn
{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(245, 245, 245);
    width: 100%;
}

@media only screen and (max-device-width : 767px)
{
    div.ds-btn
    {
        width: calc(100% - 7px);
        font-size: smaller;
    }

    .ds-btn-container:nth-child(even) > div
    {
        float: right;
    }
}

.ds-btn li
{
    list-style: none;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ds-btn li a
{
    width: 100%;
    background-color: #f5f5f5;
}
.ds-btn li a span
{
    font-size: 0.85em;
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.csfLoginGlyphicon
{
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 5px;
}
/* progress bar on gas guages */
.progress
{
    margin-bottom: 0px;
}
/* progress bar on user reg */
.userRegistrationProgress
{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

/* Custom Vertical Offsets */
.voffset
{
    margin-top: 2px;
}
.voffset1
{
    margin-top: 5px;
}
.voffset2
{
    margin-top: 10px;
}
.voffset3
{
    margin-top: 15px;
}
.voffset4
{
    margin-top: 30px;
}
.voffset5
{
    margin-top: 40px;
}
.voffset6
{
    margin-top: 60px;
}
.voffset7
{
    margin-top: 80px;
}
.voffset8
{
    margin-top: 100px;
}
.voffset9
{
    margin-top: 150px;
}

.vbtmoffset
{
    margin-bottom: 2px;
}
.vbtmoffset1
{
    margin-bottom: 5px;
}
.vbtmoffset2
{
    margin-bottom: 10px;
}
.vbtmoffset3
{
    margin-bottom: 15px;
}
.vbtmoffset4
{
    margin-bottom: 30px;
}
.vbtmoffset5
{
    margin-bottom: 40px;
}
.vbtmoffset6
{
    margin-bottom: 60px;
}
.vbtmoffset7
{
    margin-bottom: 80px;
}
.vbtmoffset8
{
    margin-bottom: 100px;
}
.vbtmoffset9
{
    margin-bottom: 150px;
}
.vpaddingoffset
{
    padding-top: 25px;
}
.vpaddingoffset1
{
    padding-top: 50px;
}
.padding1
{
    padding-left: 5px;
    padding-right: 5px;
}

/* forms */
.reCaptcha-panel
{
    padding-left: 0px;
    padding-right: 0px;
}
#recaptcha_challenge_image
{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* back to top */
.back-to-top
{
    position: fixed;
    bottom: 4em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 1em;
    padding: 1em;
    display: none;
}

/* alignment */
.vMiddle
{
    vertical-align: middle;
}

.light
{
    font-weight: lighter;
}

.right
{
    float: right;
}

/* gas gauges */

.gasGaugeText
{
    font-size: smaller;
    font-weight: bolder;
}

.gasGaugeTitle
{
    font-size: medium;
    font-weight: bold;
}

/* select customization */

.mobileSelect select
{
    display: block;
    background: transparent;
    width: 100%;
    padding: 6px 34px 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0;
    height: 32px;
    -webkit-appearance: none;
}

.mobileSelect
{
    overflow: hidden;
    background: url(../img/down_arrow_select.jpg) no-repeat right center #ddd;
    border: 1px solid #ccc;
    height: 34px;
}

.mobileSelect.has-error+label
{
    color: #a94442;
    margin-bottom: 15px;
}

.mobileSelect.has-error
{
    margin-bottom: 0px;
}
.has-error select
{
    border: 1px solid #a94442;
}
.error{
    color: #a94442;
}
@media (max-width: 768px)
{
    .tableHeader-xs
    {
        height: 25px;
        font-size: smaller;
        vertical-align: middle;
    }
}

@media (min-width: 768px)
{
    .voffset2-hidden-xs
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }   
}

@media (min-device-width: 768px)
{
    .text-right-sm
    {
        text-align: right;
    }   
}

.tableHeader
{
    vertical-align: middle;
    height: inherit;
}

.accumDescription
{
    font-size: smaller;
}

.emptyTableHeaderCol
{
    margin-left: 15px;
    margin-right: -15px;
}

/* Find a Provider */
@media only screen and (min-device-width : 768px)
{
    .dentalHR
    {
        display: none;
    }
    .dentalRow
    {
        min-height: 150px;
    }
}

/* Contact Us */
@media only screen and (min-device-width : 768px)
{
    .contactUsContainer div
    {
        min-height: 125px;
    }
}
/* ID Card Section */
.mobile-id-icon::before {
    content: "";
    background-image: url('/img/id-card-sm.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    width: 24px;
}
.id-card-container {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
}