body {
        background-color: rgba(4,4,4,.5);
} 

a{
background-color:silver;
color:black;
}
footer{
background-color: rgba(4,4,4,.5);
color: white;
padding: 10px;
}
#jumbo{
background-color: rgba(4,4,4,.1);
}

#div1{
 background-color:lightgray;
}

#div2{
background-color:black; 
color: lightgray;
}

#div3{
background-color:white; 
color: black;
border: 2px  white"
}

#form1{
	float: right;
}